<h1> Welcome to!! </h1>
Cities we are currently flying to:
<% @airports.each do |airport| %>
  <ul>
    <li><%= airport[:city_code] %></li>
  </ul>
<% end %>

<%= link_to "View our planes", airplanes_path %>
