body {
  background: #acb6e5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
}
h2 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
}
#nav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
  }

  .navigation {
      float: left;
  }

  .navigation a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  .navigation a:hover {
      background-color: #111;
  }
#c_user_email {
  color: white;
  background-color: #333;
  text-align: center;
  margin-top: 10px;
  height: 30px;
  font-size: 20px;
}
.jobsbox {
  border-style: solid;
   border-color: #333;
   text-align: center;
   width: 200px;
   margin-left: 43%;
}
.homeimg {
  width: 700px;
}
#wefly {
   text-align: center;
   width: 200px;
   margin-left: 35%;
   font-family: 'Permanent Marker', cursive;
}
#hometxt {
 text-align: center;
 float: right;
 margin-right: 20px;
 font-family: 'Permanent Marker', cursive;
 font-size: 20px;
}
